@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #f2f2f2;
    width: 100vw;
    height: 100vh;
}

#image-div {
    background-image: url('./halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    width: 42%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#odin-logo {
    max-width: 85px;
    height: auto;
}

#logo-container {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;



}