@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    background-color: #f2f2f2;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    color: rgb(30, 30, 30);
    font-style: normal;
    display: flex;
}

#image-div {
    background-image: url('./halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    min-width: 42%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

#odin-logo {
    max-width: 85px;
    height: auto;
}

#logo-container {
    font-weight: 700;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;

}

h1 {
    font-size: 50px;
}


form {
    padding-left: 5%;
}

#description {
    font-weight: 500;
    font-size: 18px;
    padding-right: 5%;
    line-height: 1.5em;
    margin-top: 20%;
}

label {
    font-size: 13px;
    display: block;
    text-transform: uppercase;
    letter-spacing: .10em;
    padding-bottom: 5px;
}

input {
    display: block;
    height: 20px;
    width: max(100px, 40%, 200px);
    margin-right: 50px;
    border: #E5E7EB solid;
}

form {
    background-color: white;
    padding-bottom: 20px;
    margin-top: 7%;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.101);
}


.form-row {
    display: flex;
    padding-top: 20px;
}

#byline {
    font-size: 14px;
    font-weight: 300;
    margin-top: 450px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
}

a {
    color: white;
}

h2 {
    padding-top: 10px;
    font-weight: 500;
    margin-bottom: -3px;
}

button {
    margin: 5% 5% 2% 5%;
    background-color: #596D48;
    color: #f2f2f2;
    border: none;
    padding: 10px;
    width: max(200px, 10%);
    height: 6%;
    border-radius: 7px;
    font-weight: 700;
}

#log-in {
    color: #596D48;
    font-weight: 700;
}

p {
    font-size: 14px;
    margin-left: 5%;
}

#user_password:invalid, #user_password_confirm:invalid {
    border-color: red;
}

input:focus {
    border: solid .25px rgb(70, 111, 232);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.101);
}

